@model ProductsListViewModel

<h1>Welcome to Sports Store</h1>

@foreach (var product in Model.Products ?? Enumerable.Empty<Product>())
{
	<div>
		@await Html.PartialAsync("ProductSummary", product)
	</div>
}

<div page-model="@Model.PagingInfo" page-action="Index" page-class-selected="btn primary" page-url-category=@Model.CurrentCategory></div>