@model Cart

<div class="rounded-md px-3 py-2 hover:bg-gray-700 hover:text-white">
	@if (Model.Lines.Count > 0)
	{
		<small class="">
			<b>Your Cart: </b>
			@Model.Lines.Sum(x => x.Quantity) item(s)
			@Model.ComputeTotalValue().ToString("c");
		</small>	
	}

	<a class="" asp-page="/Cart" asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
		<i class="fa-solid fa-cart-shopping text-gray-300 hover:bg-gray-700 hover:text-white"></i>
	</a>
</div>